div{
    background-color: red;
    color: white;
    font-size: 32px;
    justify-content: center;
    text-emphasis: bold;
}
navbar ul {
    display:flex;
    flex-direction: row;
    gap: 3em;
    justify-content: center;

}
navbar ul li {
    flex-direction: row;
}
ul li p {
    color: blue;
}

p{
    background-color: green;
    color: white;
    font-size: 18px;
}

button{
    background-color: orange;
    font-size: 18px;
}